<!DOCTYPE html>
<html ng-app='bcPhoneNumberDemo'>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Phone Number Demo</title>

  <script src='demo.bundle.js'></script>
</head>
<body ng-controller='MainCtrl as vm'>
  <div class='container'>
    <h1>Phone Number Demo</h1>
    <form name='myForm'>
      <bc-phone-number name='number' ng-model='vm.theNumber' default-country='us' preferred-countries='us gb ca'
        is-valid='vm.isValid'>
      </bc-phone-number>
      <p>Is valid ngModel: <span ng-bind='myForm.number.$valid'></span></p>
      <p>Is valid: <span ng-bind='vm.isValid'></span></p>
      <p>Number: <span ng-bind='vm.theNumber'></span></p>
    </form>
    <div class='form-group'>
      <input type='tel' class='form-control' ng-model='vm.newNumber' placeholder='Change number'>
    </div>
    <button type='button' class='btn btn-primary' ng-click='vm.theNumber = vm.newNumber'>Change</button>
  </div>
</body>
</html>
